$clr-bg: #333;
$clr-br: #222;
$clr-dashed: #666;
$clr-radar: #f00;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: $clr-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    p{
        position: absolute;
        bottom: 2em;
        right: 2em;
        color: #666;
    }
}

.loader{
    position: relative;
    width: 300px;
    height: 300px;
    background: $clr-bg;
    border-radius: 50%;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, .25,), 10px 10px 70px rgba(0, 0, 0, .25);
    border: 2px solid $clr-br;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:nth-child(2){
        span{
            filter: hue-rotate(290deg);
            animation-delay: -1s;
        }
    }
    
    // outside dashed circle 
    &::before{
        content: '';
        position: absolute;
        inset: 40px;
        border-radius: 50%;
        border: 3px dashed $clr-dashed;
        box-shadow: inset -5px -5px 25px rgba(0, 0, 0, .25), inset 5px 5px 35px rgba(0, 0, 0, .25);
        z-index: 10;
        animation: animate 30s linear infinite;
    }

    // inside dashed circle
    &::after{
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px dashed $clr-dashed;
        box-shadow: inset -5px -5px 25px rgba(0, 0, 0, .25), inset 5px 5px 35px rgba(0, 0, 0, .25);
        background: rgba(0, 0, 0, .15);
        z-index: 10;
        animation: animate 10s linear infinite;
    }

    span{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 100%;
        background: transparent;
        animation: animate 2s linear infinite;
        transform-origin: top left;
        overflow: hidden;

        &::before{
            content: '';
            position: absolute;
            top: 30px;
            left: 0;
            width: 100%;
            height: 100%;
            background: $clr-radar;
            transform-origin: top left;
            transform: rotate(35deg);
            filter: blur(30px) drop-shadow(50px 50px 50px $clr-radar);
            opacity: 0.75;
        }
    }
}

@keyframes animate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }   
}